# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next
/out
/build
next-env.d.ts

# production
/dist

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# env files
.env
.env*.local
.env.development
.env.production
.env.test

# vercel
.vercel

# typescript
*.tsbuildinfo

# package managers
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# os / editor
.DS_Store
.idea
.vscode
*.swp
.env*
